.ListHeader{
    display: flex;
    font-weight: bold;
}

.ListHeader button{
    background-color:rgba(202,156,24);
    color: rgba(255,255,255,0.8);
    font-size: 1.3rem;
    outline: none;
    border:0;
    width: 80%;
    height:50px;
    margin: 20px auto ;
    text-align: center;
    border-radius: 10px;
}